In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import joblib

In [3]:
def prepara_dados_para_modelo(df):
    df['Data da Compra'] = pd.to_datetime(df['Data da Compra'])
    df['Dia da Semana'] = df['Data da Compra'].dt.dayofweek
    df['Mes'] = df['Data da Compra'].dt.month
    df['Trimestre'] = df['Data da Compra'].dt.quarter
    df['Ano'] = df['Data da Compra'].dt.year
    return df

In [4]:
df = pd.read_parquet('../data/produtos.parquet')
df['Data da Compra'] = pd.to_datetime(df['Data da Compra'], format='%d/%m/%Y', errors='coerce') 
df = prepara_dados_para_modelo(df)
df.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Dia da Semana,Mes,Trimestre,Ano
0,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71,2,1,1,2020
1,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79,2,1,1,2020
2,Pandeiro,instrumentos musicais,87.18,2.226512,2020-01-01,Thiago Silva,RJ,4,cartao_credito,4,-22.25,-42.66,2,1,1,2020
3,Corda de pular,esporte e lazer,13.65,1.257926,2020-01-01,Camila Ribeiro,RJ,4,boleto,1,-22.25,-42.66,2,1,1,2020
4,Dinossauro Rex,brinquedos,28.32,2.039059,2020-01-01,Juliana Costa,RJ,1,cartao_debito,1,-22.25,-42.66,2,1,1,2020

In [5]:
X = df[['Dia da Semana', 'Mes', 'Trimestre', 'Ano']]
y = df['Preço']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((7548, 4), (1887, 4), (7548,), (1887,))

In [7]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
np.sqrt(mse)

796.1265578816907

In [ ]:
# modelo com rf

from sklearn.ensemble import RandomForestRegressor

modelo = RandomForestRegressor()
modelo.fit(X_train, y_train)
y_pred = modelo.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
np.sqrt(mse)